h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

a {
    color: #895659;
    text-decoration: none;
}

/* Styles pour le header */
img.logo {
    width: 5%;

}

img.nom {
    width: 25%;

}

#slogan {
    width: 28%;
    margin: 20px;

}

header {

    padding: 20px;
    color: #333333;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    position: sticky;
}
header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: large;
}

header nav ul li {
    margin-right: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: #333333;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

header nav ul li a:hover {
    background-color: #895659;
    color: #ffffff
}

/* Styles pour le formulaire de recherche */
form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
    background-color: #895659;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #6C4253;
}
#banniere-photos{
    display: flex;
    flex-direction: row;
    
    background-repeat: repeat;
    padding: 0;
    margin: 0;
}

img.ban{
    max-width: 100%;
    max-height: 200px;
}


/* Autres styles */
section {
    padding: 20px;

    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}