{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page }} | Meal Craft</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/liste.css' %}">

    {% block head %} {% endblock head %}



</head>

<body>
    <header>
        <div class="name">
            <img class="logo" src="../static/img/logo.png" />
            <img class="nom" src="../static/img/nom.png" />
        </div>
        <img id="slogan" src="../static/img/slogan.png" />
    </header>
    <nav>
        <ul>
            <li><a href="/#">Accueil</a></li>
            <li><a href="">Mon Frigo</a></li>
            <li><a href="/liste">Liste de Course</a></li>
        </ul>
        

        {% if request.user.is_authenticated %} 
            <script src="{% static 'js/liste.js' %}"></script>
            <form onsubmit="return false;">
                <!-- Formulaire de recherche -->
                <input type="text" id="searchInput" placeholder="Rechercher un aliment ou une recette">
                <button onclick="search()" type="submit">Rechercher</button>
            </form>
        {% else %}
            <ul>
                <li><a href="/login">SignIn</a></li>
                <li><a href="/register">SignUp</a></li>
            </ul>
        {% endif %}  
    </nav>
    {% block content %} {% endblock content %}


    <div id="resultContainer"></div>


    <!-- Footer -->
    <div class="footercontent">

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <h4>Company</h4>
                        <ul>
                            <li><a href="#">About Us</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Get Help</h4>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Online Shop</h4>
                        <ul>
                            <li><a href="#">Watch</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Follow Us</h4>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <p>MealCraft &copy; 2023</p>
        </footer>

    </div>


    {% block script %}

    {% endblock script %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>