{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page }} | Meal Craft</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/liste.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">

    <script src="https://kit.fontawesome.com/843be6abe4.js" crossorigin="anonymous"></script>
    {% block head %} {% endblock head %}



</head>

<body>
    <header>
        <div class="name">
            <img class="logo" src="../static/img/logo.png" />
            <img class="nom" src="../static/img/nom.png" />
        </div>
        <img id="slogan" src="../static/img/slogan.png" />
    </header>
    <nav>

        <script src="{% static 'js/liste.js' %}"></script>
        {% if request.user.is_authenticated %}
        <script src="{% static 'js/liste.js' %}"></script>
        <form onsubmit="return false;" onsubmit="return false;">
            <!-- Formulaire de recherche -->
            <div id="search">
                <input type="text" id="searchInput" placeholder="Rechercher">
                <button class="bouton" onclick="search()" type="submit">Rechercher</button>
        </form>
        </div>
    </nav>
    {% block content %} {% endblock content %}


    <div id="resultContainer"></div>

    <footer>
        <nav>
            <div class="button-item">
                <a href="/#"> <i class="fa-solid fa-house"></i> </a>
            </div>
            {% if request.user.is_authenticated %}
            <div class="button-item">
                <a href="/liste"> <i class="fa-solid fa-list"></i> </a>
            </div>
            <div class="button-item">
                <form method="post" role="form">
                    <a href="/logout"> <i class="fa-solid fa-right-to-bracket"></i> </a>
                </form>
            </div>
            {% else %}
            <div class="button-item">
                <a href="/login"> <i class="fa-solid fa-right-to-bracket"></i> </a>
            </div>
            <div class="button-item">
                <a href="/register"> <i class="fa-solid fa-user-plus"></i> </a>
            </div>
            {% endif %}
        </nav>
    </footer>

    {% block script %} {% endblock script %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>