{% extends '_base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/other.css' %}">

<div id="banniere-photos">

    <div class="box">
        <img class="ban" src="../static/img/curry.jpg" />
    </div>

    <div class="box">
        <img class="ban" src="../static/img/agrumes.jpg" />
    </div>
    
    <div class="box">
        <img class="ban" src="../static/img/salade.jpg" />
    </div>

    <div class="box">
        <img class="ban" src="../static/img/légumes.jpg" />
    </div>

    <div class="box">
        <img class="ban" src="../static/img/pates.jpg" />
    </div>

    <div class="box">
        <img class="ban" src="../static/img/plat.jpg" />
    </div>

    <div class="box">
        <img class="ban" src="../static/img/pancake.jpg" />
    </div>

    <div class="box">
        <img class="ban" src="../static/img/vert.jpg" />
    </div>

</div>




<p>Ceci est la page d'accueil</p>  

    {% if request.user.is_authenticated %} 
        <form method="post"  role="form">
            {% csrf_token %}
            <input type="submit" value="loggout" />
        </form>
        
        <a href="/dev">DevelopersPage</a> <br> 
    {% else %}
        <a href="/login">Login</a> <br>
        <a href="/register">Register</a>    
    {% endif %}  



    



{% endblock content %}