{% extends '_base.html' %}

{% load static %}

{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">
{% endblock head %} 

{% block content %}

<div class="body-liste">
    <div class="list-course">
        <h1 class="list-title">Liste de courses</h1>
        <div id="list-content">
            {% for i in liste %}
                <p class="list-item" id="{{ i }}"></p>
            {% endfor %}
        </div>
    </div>
</div>
    
{% block script %}
    <script src="{% static 'js/listget.js' %}"></script>
    <script>getFoodsByCode()</script> 
{% endblock script %}

{% endblock content %}